/*! My Custom CSS */

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.kaufmann {
  color: #149ddd !important;
  font-size: smaller;
  text-align: center;
}

.kaufmannSub {
  color: #ffffff !important;
  font-size: x-small;
  text-align: center;
}

.delete {
  color: #040b14 !important;
  font-size: xx-small;
}

.disclaimer-declaration {
  font-size: xx-small;
  color: #ffffff;
}

.disclaimer {
  color: #ffffff !important;
  font-size: xx-small;
  text-align: center !important;
}
.flags {
  max-width: 10%;
}
.languages-bg {
  background: #fafde2;
}

.certifications .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.certifications img {
  width: 60%;
  height: auto;
  padding-bottom: 7%;
}

.certifications-block {
  max-height: 300px;
  min-height: 250px;
}

/* .languages-text {
  font-size: 10px !important;
} */

/* .fifty {
  min-width: 50% !important;
  max-width: 50% !important;
  float: right !important;
} */

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#cwb {
  background: url("../img/camera.jpg") top center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 80px 0;
  position: relative;
}

#cwb::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

#cwb .container {
  position: relative;
}

#cwb h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Satisfy", serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#cwb p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#cwb .social-links {
  margin: 0 0 40px 0;
}

#cwb .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ffb727;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#cwb .social-links a:hover {
  background: #f3a200;
  color: #fff;
  text-decoration: none;
}

#cwb .copyright {
  margin: 0 0 5px 0;
}

#cwb .credits {
  font-size: 13px;
}
